.commentContainer{
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
  gap: 15px;
}
.commentSection {
  color: white;
  margin-top: 24px;
}

.commentSection h1 {
  color: #ffffff;
  margin-bottom: 12px;
}

/* List of comments */
.commentList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
}

/* Form styling */
.commentForm {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* Inputs */
.commentForm input,
.commentForm textarea {
  background-color: white;
  color: black;
}


/* Button */
.commentForm button {
  background-color: #0070f3;
  color: white;
}

.commentForm button:hover {
  background-color: #005ac8;
  cursor: pointer;
}