.input {
  display: flex;
  flex-direction: row;
  gap: 15px;   
  margin-bottom: 20px;
  align-items: center; 
  justify-content: center;
}

.label {
  font-family: "Open Sans";
  color: white;
}


.area  {
  width: 200px;
  padding: 10px;
  font-size: 20px;
  background-color: white;
}