@import "tailwindcss";

html {
  height: 100%;
}

body {
  background-color: rgb(34,34,34);
  position: relative;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

main {
  padding: 0 20px 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* footer*/
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

h1{
  color: rgb(164, 26, 26);
}

h1, h2, h3{
  font-family: "Montserrat", "Arial", "sans-serif";
}

h2, h3{
   color: white;
}

p {
  font-family: "Open Sans", "Arial";
  color: white;
}

a {
  color: rgb(29, 166, 245);
}

/* blog pages*/
.baseball_paragraph, .surfing_paragraph{
  max-width: 600px;
}

/* home page*/
.about{
  display: flex;     
  flex-direction: column;  
  justify-content: center;   
  align-items: center;       
  gap: 20px;        
}


.about-image {
  width: 300px; 
  display: flex;
  justify-content: center;
}

.about-image img {
  width: 100%;     
  height: auto;
  border-radius: 3px;
}
